<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> TEST </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-18 col-md-12 themed-grid-col">
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">RESULTADOS DEL TESTEO DE CHATBOTS</h4>
                </div>
            </div>
            <div class="col-4 col-md-2 themed-grid-col">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading" role="alert">Selecciona el bot de consulta</h4>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="nombre" id="nombre" type="radio" value="Sepomex">
                    <label class="form-check-label" for="nombre" >Sepomex</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="nombre" id="nombre" type="radio" value="Sepomex T">
                    <label class="form-check-label" for="nombre" >Sepomex T</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="nombre" id="nombre" type="radio" value="Grupo Vanguardia">
                    <label class="form-check-label" for="nombre" >Grupo Vanguardia</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" name="nombre" id="nombre" type="radio" value="Grupo Vanguardia T">
                    <label class="form-check-label" for="nombre" >Grupo Vanguardia T</label>
                </div>
                <button class="btn btn-primary" id="btn_datos" value="datos"  >DATOS</button>
                <button class="btn btn-primary" id="btn_esta" value="esta" >ESTADISTICAS</button>
            </div>
            <div class="col-14 col-md-10 themed-grid-col">
                <div class="table-responsive">
                    <table id="Tabla" class="table table-striped table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Estatus</th>
                                <th scope="col">Comentario</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Bot</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Bot</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Hora</th>
                            </tr>
                        </thead>
                        <tbody id="vistaT">
            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-18 col-md-12 themed-grid-col">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">CHATBOTS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/renderjson.js')}}"></script>
</body>
</html>